@font-face {
    font-family: "LEMON MILK Bold";
    src: url("https://db.onlinewebfonts.com/t/dcbedadff6f97bfa4d87d02fe416409f.eot");
    src: url("https://db.onlinewebfonts.com/t/dcbedadff6f97bfa4d87d02fe416409f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/dcbedadff6f97bfa4d87d02fe416409f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/dcbedadff6f97bfa4d87d02fe416409f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/dcbedadff6f97bfa4d87d02fe416409f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/dcbedadff6f97bfa4d87d02fe416409f.svg#LEMON MILK Bold")format("svg");
}

body, h1, ul, li, form, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f4f4f4; */
    color: #333;
    text-align: center;
    font-size: 16px;
    background-color: #ccc;
}

h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 26.9px;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;
    font-family: "LEMON MILK Bold";
}

h3{
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.4rem;
    font-family: "LEMON MILK Bold";
}

.shape {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shape-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.shape-list li {
    margin: 10px;
}

.shape-list a {
    text-decoration: none;
    color: #333;
    display: block;
    text-align: center;
    width: 200px;  /* Set width to 200px */
    height: 200px; /* Set height to 200px */
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.shape-list a img {
    width: 100%;  /* Make the image fill the anchor tag */
    height: 100%; /* Make the image fill the anchor tag */
    object-fit: cover;
}

.shape-list a:hover {
    transform: scale(1.1);
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
    color: #333;
    font-size: 16px; /* Adjust the label font size */
}

input {
    padding: 8px;
    margin-bottom: 10px;
    font-size: 14px; /* Adjust the input font size */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 16px; /* Adjust the button font size */
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 18px; /* Adjust the paragraph font size */
}


